.header-menu{
    display:flex;
    gap:30px;
    cursor: pointer;
}

.header{
    display:flex;
    justify-content: space-between;
    padding: 10px 50px;

}

.header-container{
    border: 1px solid #E5EBEE;

}

.nav-elements:hover{
    color:gray;

}

.fw-bold{
    color:#393E46;
}

.logo{
    width: 50px;
}

.slogan p{
    margin: 0;
    line-height: 1.2;
  }

a {
    text-decoration: none;
    color:black;
}

.parent {
    display:flex;
    flex-direction: column;
    gap:10px;
}

.search-container{
    display:flex;
    justify-content: space-between;
}

.container-menu{
    padding-left: 160px;
}

.btn-css {
    padding: 5px 12px;    
    color: white;
    border: none;
    border-radius: 5px;
}

.five{
    background-color: #ffbd39 ;
}

.ten{
    background-color:#e61c5d;
}


.half{
    background-color: #930077;
}

.marathon{
    background-color: #3a0088;
}

.sort-btn{
    border: 1px solid gray;
    background-color: lightgray;
    margin-top: 17px;
}

.form {
    display: flex;
    flex-direction: column;

}


.event-form{
    padding: 10px 100px;
}

.form-control{
    background-color:lightgray
}

.btn-success {
    background-color: rgb(17, 17, 44);
    float: right;
}

.selected-btn{
    border: 3px solid black;

}

.btn-space{
    margin-right: 8px;
    cursor: default !important;
}

.event-container {
    display:flex;
    justify-content: center;
    padding-top:60px;
}

#eventblock{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.event-row{
    padding-bottom: 30px;
}

.price-link-container {
    align-items: flex-end;
}

.link-style{
    text-decoration: underline;
    font-style: italic;

}

.search-btn{
  background-color: #393E46;
  padding: 0px 20px;
}

#sortButton{
    background-color: #393E46;
}

.name-style{
    color:#393E46;
    font-weight: 300;
}

.doneMessage-style{
    margin-top: 10px;
    color: green;
    font-size:50px;
}